* {
  box-sizing: border-box;
}

header {
  text-align: center;
}
body {
  background-color: rgb(162, 194, 194);
}

img {
  max-width: 100%;
}

.infoMovie {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1em;
  text-align: center;
  width: 30%;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
  overflow: auto;
  background-color: rgb(180, 213, 213);

}
.result {
  text-align: center;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
}

p {
  margin-top: 0px;
}
button {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #333;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
label {
  font-size: 1.2em;
  margin-left: 4px;
  font-weight: bold;
}
